.grid-container4  {
    display: grid;
    grid-template-columns: auto auto auto auto;
justify-content: space-evenly;
    
    background-color: grey;
    padding: 15px;


}

.grid-container4 > div{
   
    margin: 15px;
    background-color: rgb(202, 177, 177);
   padding: 15px;
   

}  

.grid-container3  {
    display: grid;
    grid-template-columns: auto auto auto auto;
justify-content: space-evenly;
    
    background-color: grey;
    padding: 15px;


}

.grid-container3 > div{
   
    margin: 15px;
    background-color: rgb(202, 177, 177);
   padding: 15px;
   

}  


.grid-container5  {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
justify-content: space-evenly;
    
    background-color: grey;
    padding: 15px;


}

.grid-container5 > div{
   
    margin: 15px;
    background-color: rgb(202, 177, 177);
   padding: 15px;
   

}  
.left{
    text-align: left;
}  

.right{
    text-align: right;
}  

.center{
    text-align: center;
}  

.justify{
    text-align: justify;
}  

h5{
    text-align: center;
}  

h4{
    margin: 20px 0 10px 0;
    font-size: 24px;
}  


.overline {
    text-decoration: overline;
}
.line-through {
    text-decoration: line-through;
}
.underline {
    text-decoration: underline;
}
.overline-underline {
    text-decoration: overline underline;
}



.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.capitalize{
    text-transform: capitalize;
}


.Serif{
    font-family: serif;
}
.Sans-Serif{ 
    font-family: sans-serif;
    }

.Cursive {
    font-family: cursive;
}
.Monospace {
    font-family: monospace;
}
.Fantasy{
    font-family: fantasy;
}